body {
    background-color: #4cbbb9;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #eff3c6;
    border-width: 5px;
    width: 10%;
  }

  h1, h3 {
      color:#eff3c6;
  }